body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao {
    background-color: #8EAB89;
    width: 370px;
    border: 2px solid #1d3523;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px #7AA25B;
}

.abas img {
    width: 30px;
}

.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.minhas-informacoes img {
    width: 96px;
    border-radius: 50px;
    border: 4px solid #2a442a;
}

.cartao .minhas-informacoes .nome {
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo {
    font-size: 20px;
    color: #d2d4da;
}

.cartao .conteudo {
    margin-top: 15px;
}

.cartao .abas {
    display: flex;
}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
}

.cartao .abas .aba.selecionado {
    background-color: #475e49;
}

.cartao .informacoes-abas {
    background-color: #475e49;
}

.cartao .abas .aba:hover {
    background-color: #435544;
}

.informacoes-abas .informacao {
    min-height: 260px;
    padding: 15px;
    display: none;
}
.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao {
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}
@keyframes shinny {
    
        0%   {color:#0eeb75;}
        25%  {color:#069a32;}
        50%  {color:#0eeb75;}
        75%  {color:#069a32;}
        100% {color:#0eeb75;}


}
.informacoes-abas .descricao span {
    color: #02d08f;
    animation-name: shinny;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a {
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
}

.redes-sociais li a:hover {
    opacity: 0.8;
}

.redes-sociais .curriculo {
    background-color: #06c185;
}

.redes-sociais .linkedin {
    background-color: #1d87bd;
}

.redes-sociais .github {
    background-color: #262626;
}